* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
h1{
    background-color: lightcoral;
    border: 2px solid tomato;
    padding: 20px;
    text-align: center;
}